In [9]:
import numpy as np
import pandas as pd
from scipy.stats import ttest_ind, ttest_rel

# read data main file

In [11]:
ETP_main = pd.read_stata('Data/ETP_main.dta')

In [12]:
ETP_main

,pupilid,schoolid,baseline,district,bungoma,etpschool,tracking,sbm,girl,etpschool_girl,...,std_letterscore,std_wordscore,std_sentscore,std_spellscore,std_additions_score,std_substractions_score,std_multiplications_score,schoolPTR,total_1,total_2
0,4301003,430,1,BUNGOMA,1,1,1,1,1,1,...,-1.075680,-0.698297,0.362425,-0.621864,-1.056541,-0.821877,-0.565649,45.846153,111.0,86.0
1,4301001,430,1,BUNGOMA,1,1,1,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.846153,111.0,86.0
2,4301005,430,1,BUNGOMA,1,1,1,1,0,0,...,-0.545307,-0.698297,-0.642568,-0.621864,0.343626,1.089532,-0.565649,45.846153,111.0,86.0
3,4301019,430,1,BUNGOMA,1,1,1,1,0,0,...,-1.075680,-0.698297,-0.307570,-0.621864,-0.589819,-1.299729,-0.565649,45.846153,111.0,86.0
4,4301012,430,1,BUNGOMA,1,1,1,1,0,0,...,0.462402,-0.698297,0.194926,-0.621864,-0.123096,0.133828,1.353673,45.846153,111.0,86.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12213,10201051,1020,1,BUNGOMA,1,1,1,1,0,0,...,0.197216,2.323765,0.697423,1.450668,1.277071,1.567384,2.313334,32.099998,56.0,60.0
12214,10201034,1020,1,BUNGOMA,1,1,1,1,0,0,...,-0.704419,-0.698297,-0.642568,-0.621864,0.810349,1.089532,-0.565649,32.099998,56.0,60.0
12215,10201038,1020,1,BUNGOMA,1,1,1,1,0,0,...,1.629223,2.323765,1.032420,1.105246,0.343626,1.089532,2.313334,32.099998,56.0,60.0
12216,10201055,1020,1,BUNGOMA,1,1,1,1,1,1,...,1.841373,2.323765,5.387391,2.141512,1.743794,1.089532,2.313334,32.099998,56.0,60.0
12217,10201040,1020,1,BUNGOMA,1,1,1,1,1,1,...,0.197216,1.499567,1.199919,-0.621864,0.343626,1.089532,-0.565649,32.099998,56.0,60.0

# tmp (miss)

In [4]:
len(ETP_main.loc[
    (ETP_main.etpschool==1) & (ETP_main.streaming=='TRACKING'),
    'schoolid'].unique())

69

In [72]:
ETP_main.etpschool.unique()

array([1, 0], dtype=int8)

In [57]:
ETP_main.streaming.unique()

array(['TRACKING', 'RANDOM', ''], dtype=object)

In [58]:
ETP_main[ETP_main.streaming=='']

,pupilid,schoolid,baseline,district,bungoma,etpschool,tracking,sbm,girl,etpschool_girl,...,std_letterscore,std_wordscore,std_sentscore,std_spellscore,std_additions_score,std_substractions_score,std_multiplications_score,schoolPTR,total_1,total_2
249,4411078,441,1,BUNGOMA,1,0,0,0,1,0,...,-0.704419,-0.423564,0.697423,-0.621864,-1.523264,-1.299729,-0.565649,46.75000,158.0,121.0
250,4411051,441,1,BUNGOMA,1,0,0,0,1,0,...,-1.075680,-0.698297,0.864922,-0.621864,-1.523264,-1.299729,-0.565649,46.75000,158.0,121.0
251,4411102,441,1,BUNGOMA,1,0,0,0,0,0,...,-0.386195,-0.423564,-0.642568,-0.621864,-1.056541,-1.299729,-0.565649,46.75000,158.0,121.0
252,4411105,441,1,BUNGOMA,1,0,0,0,0,0,...,-0.333158,-0.698297,-0.642568,-0.621864,-0.589819,0.133828,-0.565649,46.75000,158.0,121.0
253,4411140,441,1,BUNGOMA,1,0,0,0,1,0,...,-1.075680,-0.423564,-0.642568,-0.621864,-0.589819,0.133828,-0.565649,46.75000,158.0,121.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12158,10191061,1019,1,BUNGOMA,1,0,0,0,0,0,...,-0.439232,-0.423564,-0.642568,-0.621864,-0.123096,-0.821877,-0.565649,36.81818,63.0,68.0
12159,10191049,1019,1,BUNGOMA,1,0,0,0,0,0,...,-1.075680,-0.698297,0.362425,-0.621864,-1.523264,-0.344025,-0.565649,36.81818,63.0,68.0
12160,10191070,1019,1,BUNGOMA,1,0,0,0,0,0,...,0.038104,-0.698297,-0.642568,-0.621864,0.810349,0.611680,1.353673,36.81818,63.0,68.0
12161,10191032,1019,1,BUNGOMA,1,0,0,0,0,0,...,0.303290,-0.698297,-0.307570,-0.621864,-0.123096,1.089532,1.353673,36.81818,63.0,68.0
12162,10191034,1019,1,BUNGOMA,1,0,0,0,0,0,...,-0.704419,-0.148831,-0.642568,-0.621864,0.810349,-0.821877,2.313334,36.81818,63.0,68.0

In [16]:
len(np.unique(ETP_main.loc[
    (ETP_main['etpgroup']=='ETP'), 'schoolid'
]))

138

In [15]:
len(np.unique(
    ETP_main.loc[
    (ETP_main['etpgroup']=='ETP') &
    (ETP_main['streaming']=='TRACKING'), 'schoolid'
]))

69

In [30]:
df = (
    ETP_main
#     [~ETP_main['totalscore'].isnull()]
    [['etpgroup', 'std_mark', 'totalscore', 'r2_totalscore']]
)

In [31]:
df['delta_y'] = df['totalscore'] - df['std_mark']

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [32]:
df

      etpgroup  std_mark  totalscore  r2_totalscore    delta_y
0          ETP -2.145025    2.900000       3.050000   5.045025
1          ETP -2.340687         NaN       7.200000        NaN
2          ETP -1.809605    9.857142            NaN  11.666747
3          ETP -0.747440    2.300000       7.000000   3.047440
4          ETP -0.985029   11.235714      19.314285  12.220743
...        ...       ...         ...            ...        ...
12213      ETP  1.449730   27.357143      39.200001  25.907413
12214      ETP -0.599930   10.600000      16.857143  11.199930
12215      ETP  0.576104   26.371429      38.985714  25.795326
12216      ETP  2.088148   35.414284      39.442856  33.326134
12217      ETP  0.710508   16.707142      39.228573  15.996634

[12218 rows x 5 columns]

# Basic EXAM scores and difference between treatment/control

In [34]:
ttest_ind(
    df[df['etpgroup']=='ETP'].delta_y, 
    df[df['etpgroup']!='ETP'].delta_y,
    nan_policy='omit'
)

Ttest_indResult(statistic=10.691008117761543, pvalue=1.5602432952474608e-26)

In [35]:
ttest_ind(
    df[df['etpgroup']=='ETP'].r2_totalscore, 
    df[df['etpgroup']!='ETP'].r2_totalscore,
    nan_policy='omit'
)

Ttest_indResult(statistic=4.661059966147195, pvalue=3.189103824831934e-06)

In [36]:
df[df['etpgroup']=='ETP'].delta_y.mean(), df[df['etpgroup']=='ETP'].delta_y.std()

(13.184248924255371, 8.841071128845215)

In [37]:
df[df['etpgroup']!='ETP'].delta_y.mean(), df[df['etpgroup']!='ETP'].delta_y.std()

(11.212160110473633, 8.334612846374512)

# Attendance of students and difference between treatment/control

In [46]:
df_att = (
    ETP_main
#     [~ETP_main['totalscore'].isnull()]
    [['etpgroup', 'pres05v1', 'pres05v2', 'pres05v3', 'pres06v0', 'pres06v1', 'pres06v2', 'pres06v3']]
    .fillna(0)
)

In [47]:
df_att['att'] = df_att['pres05v1']
for i in df_att.columns[2:]:
    df_att['att'] += df_att[i]

In [49]:
df_att

,etpgroup,pres05v1,pres05v2,pres05v3,pres06v0,pres06v1,pres06v2,pres06v3,att
0,ETP,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
1,ETP,1.0,1.0,0.0,0.0,0.0,0.0,0.0,4.0
2,ETP,1.0,1.0,1.0,1.0,0.0,2.0,2.0,16.0
3,ETP,1.0,1.0,1.0,0.0,0.0,0.0,0.0,6.0
4,ETP,1.0,1.0,1.0,1.0,1.0,2.0,2.0,18.0
...,...,...,...,...,...,...,...,...,...
12213,ETP,1.0,1.0,1.0,1.0,1.0,1.0,1.0,14.0
12214,ETP,0.0,0.0,1.0,1.0,1.0,1.0,1.0,10.0
12215,ETP,0.0,1.0,1.0,2.0,1.0,1.0,1.0,14.0
12216,ETP,1.0,1.0,1.0,1.0,1.0,1.0,1.0,14.0
12217,ETP,1.0,1.0,1.0,1.0,1.0,1.0,2.0,16.0

In [50]:
ttest_ind(
    df_att[df_att['etpgroup']=='ETP'].att, 
    df_att[df_att['etpgroup']!='ETP'].att,
)

Ttest_indResult(statistic=14.377796351951913, pvalue=1.7079825273231622e-46)

In [51]:
df_att[df_att['etpgroup']=='ETP'].att.mean(), df_att[df_att['etpgroup']=='ETP'].att.std()

(10.461804270023448, 4.048153874649359)

In [53]:
df_att[df_att['etpgroup']!='ETP'].att.mean(), df_att[df_att['etpgroup']!='ETP'].att.std()

(9.390522478736331, 3.565875318997434)

In [54]:
%%timeit
df_att[df_att['etpgroup']=='ETP'].att

1.09 ms ± 16.6 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [55]:
%%timeit
df_att.loc[df_att['etpgroup']=='ETP', 'att']

817 µs ± 5.99 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

## construct DF (run)

In [13]:
ETP_main.loc[
    (ETP_main['etpgroup']=='ETP'), [i for i in ETP_main.columns]
]

,pupilid,schoolid,baseline,district,bungoma,etpschool,tracking,sbm,girl,etpschool_girl,...,std_letterscore,std_wordscore,std_sentscore,std_spellscore,std_additions_score,std_substractions_score,std_multiplications_score,schoolPTR,total_1,total_2
0,4301003,430,1,BUNGOMA,1,1,1,1,1,1,...,-1.075680,-0.698297,0.362425,-0.621864,-1.056541,-0.821877,-0.565649,45.846153,111.0,86.0
1,4301001,430,1,BUNGOMA,1,1,1,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.846153,111.0,86.0
2,4301005,430,1,BUNGOMA,1,1,1,1,0,0,...,-0.545307,-0.698297,-0.642568,-0.621864,0.343626,1.089532,-0.565649,45.846153,111.0,86.0
3,4301019,430,1,BUNGOMA,1,1,1,1,0,0,...,-1.075680,-0.698297,-0.307570,-0.621864,-0.589819,-1.299729,-0.565649,45.846153,111.0,86.0
4,4301012,430,1,BUNGOMA,1,1,1,1,0,0,...,0.462402,-0.698297,0.194926,-0.621864,-0.123096,0.133828,1.353673,45.846153,111.0,86.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12213,10201051,1020,1,BUNGOMA,1,1,1,1,0,0,...,0.197216,2.323765,0.697423,1.450668,1.277071,1.567384,2.313334,32.099998,56.0,60.0
12214,10201034,1020,1,BUNGOMA,1,1,1,1,0,0,...,-0.704419,-0.698297,-0.642568,-0.621864,0.810349,1.089532,-0.565649,32.099998,56.0,60.0
12215,10201038,1020,1,BUNGOMA,1,1,1,1,0,0,...,1.629223,2.323765,1.032420,1.105246,0.343626,1.089532,2.313334,32.099998,56.0,60.0
12216,10201055,1020,1,BUNGOMA,1,1,1,1,1,1,...,1.841373,2.323765,5.387391,2.141512,1.743794,1.089532,2.313334,32.099998,56.0,60.0
12217,10201040,1020,1,BUNGOMA,1,1,1,1,1,1,...,0.197216,1.499567,1.199919,-0.621864,0.343626,1.089532,-0.565649,32.099998,56.0,60.0

In [81]:
df = (
    ETP_main
    [['etpgroup', # treatment
      'girl', 'std_mark','realpercentile', 'kcpe2001', 'kcpe2004', # pretreatment vars
      'total_2004', 'rotation', 'total1_2005', 'streams1_2005',    # pretreatment vars
      'init_clsize', 'Nteachers', 'gradesize', 'schoolsize',       # pretreatment vars
      'totalscore', 'Nteachers_prim', # Y1 Y2 
      'bungoma', 'schoolid' # potential clusters
     ]] 
    .dropna()
)

- treatment - ETP group 
- Y2 - издержки (количество учителей => зп им больше)
- Y1 - эффект (зависимая переменная - успеваемость)
- cluster - условно , можно взять регион

In [82]:
df['treatment'] = df['etpgroup'] == 'ETP'
df['treatment'] = df['treatment'].map(int)

In [83]:
df = df.rename(
    {
        'totalscore': 'Y1',
        'Nteachers_prim': 'Y2', 
        'bungoma': 'cluster' # we can pick schoolid here
    },
    axis=1
)

In [84]:
df = df.drop('etpgroup', axis=1)

In [85]:
df

,girl,std_mark,realpercentile,kcpe2001,kcpe2004,total_2004,rotation,total1_2005,streams1_2005,init_clsize,Nteachers,gradesize,schoolsize,Y1,Y2,cluster,treatment
0,1,-2.145025,4.0,244.539993,294.693,596,1,111.0,1,111.0,14,78.0,0.98,2.900000,13,1,1
2,0,-1.809605,6.0,244.539993,294.693,596,1,111.0,1,111.0,14,78.0,0.98,9.857142,13,1,1
3,0,-0.747440,24.0,244.539993,294.693,596,1,111.0,1,111.0,14,78.0,0.98,2.300000,13,1,1
4,0,-0.985029,15.0,244.539993,294.693,596,1,111.0,1,111.0,14,78.0,0.98,11.235714,13,1,1
5,1,-1.082860,19.0,244.539993,294.693,596,1,111.0,1,111.0,14,78.0,0.98,13.828571,13,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12213,0,1.449730,92.0,229.380005,243.000,321,1,56.0,1,56.0,7,55.0,0.60,27.357143,10,1,1
12214,0,-0.599930,62.0,229.380005,243.000,321,1,56.0,1,56.0,7,55.0,0.60,10.600000,10,1,1
12215,0,0.576104,69.0,229.380005,243.000,321,1,56.0,1,56.0,7,55.0,0.60,26.371429,10,1,1
12216,1,2.088148,100.0,229.380005,243.000,321,1,56.0,1,56.0,7,55.0,0.60,35.414284,10,1,1
12217,1,0.710508,72.0,229.380005,243.000,321,1,56.0,1,56.0,7,55.0,0.60,16.707142,10,1,1

In [86]:
df.to_csv('Dufflo_data.csv', index=False)

In [88]:
df.columns

Index(['girl', 'std_mark', 'realpercentile', 'kcpe2001', 'kcpe2004',
       'total_2004', 'rotation', 'total1_2005', 'streams1_2005', 'init_clsize',
       'Nteachers', 'gradesize', 'schoolsize', 'Y1', 'Y2', 'cluster',
       'treatment'],
      dtype='object')